/* Barra azul superior */
.barra-azul {
  background: #64a2dd69; /* mesmo tom do banner */
  height: 18px;        /* altura da faixa azul */
  width: 100%;
}

/* Barra branca com menu */
.barra-branca {
  display: flex;
  grid-template-columns: 1fr auto 1fr; /* logo / menu / botão */
  align-items: center;
  background: #ffffff; /* fundo branco */
  padding: 0px 25px;
  height: 45px; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* leve sombra */
  justify-content: space-between;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #003366;
  justify-self: start;
}

.logo img {
  width: 26px;
  height: auto;
  margin-left: 25%;
}

.logo span {
  font-size: 20px; /* fonte menor */
}

/* Menu central */
.menu ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;

}

.menu a {
  text-decoration: none;
  color: #003366;
  font-weight: 500;
  transition: color 0.3s;
  font-size: 14px;
}

.menu a:hover {
  color: #007bff;
}

/* Botão verde à direita */
.btn-consulta {
  background: #28a745;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s;
  justify-self: end;
}

.btn-consulta:hover {
  background: #218838;
}


.banner {
  position: relative;
  align-items: center;   /* centraliza verticalmente */
  justify-content: flex-start; /* texto alinhado à esquerda */
  height: 400px;
  background: url("Imagens/image001.png") no-repeat center/cover;
  padding-left: 50px;    /* espaço da margem esquerda */
}

.banner h1 {
  font-size: 36px;       /* tamanho da fonte */
  color: #003366;        /* azul escuro para contraste */
  max-width: 400px;      /* largura máxima do bloco de texto */
  line-height: 1.4;      /* espaçamento entre linhas */
  font-weight: bold;
}

.banner .btn-primario {
  display: inline-block;
  margin-top: 20px;
  background: #007bff;   /* azul do botão */
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

section {
  padding: 40px 20px;
}

.cards, .medicos {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card, .medico {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
